Get stock ticker data from https://www.quandl.com/databases/WIKIP, select end-of-day prices using pandas, and plot using Bokeh.

In [1]:
import requests

In [3]:
import datetime

In [6]:
now = datetime.datetime.now()

In [7]:
now

datetime.datetime(2018, 1, 3, 4, 12, 2, 872589)

In [8]:
url = 'https://www.quandl.com/api/v3/datatables/WIKI/PRICES.csv?'

In [9]:
payload = 'ticker=A&date=2017-12-01%2C2017-12-02&api_key=oju6mQfWvzQLmaah9cZU'

In [10]:
with requests.Session() as s:
    download = s.get(url + payload)

In [11]:
download.content

b'ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume\nA,2017-12-01,69.19,70.0,67.23,68.69,2516520.0,0.0,1.0,69.19,70.0,67.23,68.69,2516520.0\n'

In [12]:
import pandas as pd

In [13]:
import io

In [14]:
df = pd.read_csv(io.BytesIO(download.content))[['date', 'close']]

In [15]:
df

         date  close
0  2017-12-01  68.69

In [16]:
date_list = [now - datetime.timedelta(30-i) for i in range(31)]

In [17]:
#parse dates into YYYY-MM-DD
date_list[0].strftime('%Y-%m-%d')

'2017-12-04'

In [18]:
dates = '%2C'.join([date.strftime('%Y-%m-%d') for date in date_list])

In [19]:
dates

'2017-12-04%2C2017-12-05%2C2017-12-06%2C2017-12-07%2C2017-12-08%2C2017-12-09%2C2017-12-10%2C2017-12-11%2C2017-12-12%2C2017-12-13%2C2017-12-14%2C2017-12-15%2C2017-12-16%2C2017-12-17%2C2017-12-18%2C2017-12-19%2C2017-12-20%2C2017-12-21%2C2017-12-22%2C2017-12-23%2C2017-12-24%2C2017-12-25%2C2017-12-26%2C2017-12-27%2C2017-12-28%2C2017-12-29%2C2017-12-30%2C2017-12-31%2C2018-01-01%2C2018-01-02%2C2018-01-03'

In [38]:
payload = '&'.join(['ticker=A', 'date=' + dates, 'api_key=oju6mQfWvzQLmaah9cZU'])

In [21]:
with requests.Session() as s:
    download = s.get(url + payload)

In [22]:
df = pd.read_csv(io.BytesIO(download.content))[['date', 'close']]

In [23]:
df

          date  close
0   2017-12-04  66.24
1   2017-12-05  65.83
2   2017-12-06  65.89
3   2017-12-07  66.71
4   2017-12-08  67.38
5   2017-12-11  67.00
6   2017-12-12  67.06
7   2017-12-13  66.68
8   2017-12-14  66.51
9   2017-12-15  67.61
10  2017-12-18  67.66
11  2017-12-19  67.75
12  2017-12-20  67.40
13  2017-12-21  67.52
14  2017-12-22  67.35
15  2017-12-26  67.25
16  2017-12-27  67.30
17  2017-12-28  67.45
18  2017-12-29  66.97

This works. For plotting purposes, parse the string dates as datetimes.

In [24]:
datetime.datetime.strptime('2017-01-01', '%Y-%m-%d')

datetime.datetime(2017, 1, 1, 0, 0)

In [25]:
df['datetime'] = df['date'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d'))

In [26]:
from bokeh.plotting import figure, output_file, show

In [27]:
output_file('output.html', title='Bokeh Plot', mode='cdn', root_dir=None)

In [28]:
p = figure(plot_width=600, plot_height=400, x_axis_type="datetime")

In [29]:
p.circle(df.datetime, df.close, size=10)

GlyphRenderer(id='02af74e8-19fd-4531-a70a-5c49b79ffdce', ...)

In [30]:
show(p)

In [31]:
from bokeh.resources import CDN
from bokeh.embed import file_html

In [33]:
f = open('ticker.txt', 'r')

In [34]:
test = f.read()

In [35]:
test

'A'

In [36]:
payload = '&'.join(['ticker=MSFT', 'date=' + dates, 'api_key=oju6mQfWvzQLmaah9cZU'])