Get stock ticker data from https://www.quandl.com/databases/WIKIP, select end-of-day prices using pandas, and plot using Bokeh.

In [23]:
import requests

In [2]:
import quandl

In [4]:
import datetime

In [5]:
now = datetime.datetime.now()

In [6]:
now

datetime.datetime(2018, 1, 2, 12, 34, 50, 657317)

In [98]:
url = 'https://www.quandl.com/api/v3/datatables/WIKI/PRICES.csv?'

In [137]:
payload = 'ticker=A&date=2017-12-01%2C2017-12-02&api_key=oju6mQfWvzQLmaah9cZU'

In [138]:
with requests.Session() as s:
    download = s.get(url + payload)

In [139]:
download.content

b'ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume\nA,2017-12-01,69.19,70.0,67.23,68.69,2516520.0,0.0,1.0,69.19,70.0,67.23,68.69,2516520.0\n'

In [102]:
import pandas as pd

In [66]:
import io

In [111]:
df = pd.read_csv(io.BytesIO(download.content))[['date', 'close']]

In [112]:
df

         date  close
0  1999-11-18  44.00
1  1999-11-19  40.38

In [146]:
date_list = [now - datetime.timedelta(30-i) for i in range(31)]

In [147]:
#parse dates into YYYY-MM-DD
date_list[0].strftime('%Y-%m-%d')

'2017-12-03'

In [148]:
dates = '%2C'.join([date.strftime('%Y-%m-%d') for date in date_list])

In [149]:
dates

'2017-12-03%2C2017-12-04%2C2017-12-05%2C2017-12-06%2C2017-12-07%2C2017-12-08%2C2017-12-09%2C2017-12-10%2C2017-12-11%2C2017-12-12%2C2017-12-13%2C2017-12-14%2C2017-12-15%2C2017-12-16%2C2017-12-17%2C2017-12-18%2C2017-12-19%2C2017-12-20%2C2017-12-21%2C2017-12-22%2C2017-12-23%2C2017-12-24%2C2017-12-25%2C2017-12-26%2C2017-12-27%2C2017-12-28%2C2017-12-29%2C2017-12-30%2C2017-12-31%2C2018-01-01%2C2018-01-02'

In [150]:
payload = '&'.join(['ticker=A', 'date=' + dates, 'api_key=oju6mQfWvzQLmaah9cZU'])

In [212]:
with requests.Session() as s:
    download = s.get(url + payload)

In [213]:
df = pd.read_csv(io.BytesIO(download.content))[['date', 'close']]

In [214]:
df

          date  close
0   2017-12-04  81.08
1   2017-12-05  81.59
2   2017-12-06  82.78
3   2017-12-07  82.49
4   2017-12-08  84.16
5   2017-12-11  85.23
6   2017-12-12  85.58
7   2017-12-13  85.35
8   2017-12-14  84.69
9   2017-12-15  86.85
10  2017-12-18  86.38
11  2017-12-19  85.83
12  2017-12-20  85.52
13  2017-12-21  85.50
14  2017-12-22  85.51
15  2017-12-26  85.40
16  2017-12-27  85.71
17  2017-12-28  85.72
18  2017-12-29  85.54

This works. For plotting purposes, parse the string dates as datetimes.

In [215]:
datetime.datetime.strptime('2017-01-01', '%Y-%m-%d')

datetime.datetime(2017, 1, 1, 0, 0)

In [216]:
df['datetime'] = df['date'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d'))

In [217]:
from bokeh.plotting import figure, output_file, show

In [218]:
output_file('output.html', title='Bokeh Plot', mode='cdn', root_dir=None)

In [219]:
p = figure(plot_width=600, plot_height=400, x_axis_type="datetime")

In [220]:
p.circle(df.datetime, df.close, size=10)

GlyphRenderer(id='aa512c79-d05c-47b4-b953-87559e3d5d04', ...)

In [221]:
show(p)

In [178]:
from bokeh.resources import CDN
from bokeh.embed import file_html

In [196]:
import ast

In [208]:
f = open('ticker.txt', 'r')

In [209]:
test = f.read()

In [210]:
test

'A'

In [211]:
payload = '&'.join(['ticker=MSFT', 'date=' + dates, 'api_key=oju6mQfWvzQLmaah9cZU'])